  .reveal strong {
    color: lightpink;
  }
  .home-link {
    position: absolute;
    left: 20px;
    bottom: 20px; 
    font-size: 24pt;
    color: #fff;
  }
  .reveal section.side-by-side figure {
    position: absolute;
  }
  .reveal section.side-by-side figure:first-of-type {
    left: 5%;
  }
  .reveal section.side-by-side figure:nth-of-type(2) {
    right: 5%;
  }
